.App {
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;

}


.wrap{
  display: flexbox;
  justify-content: center;
  border: green 3px ;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color:black;
}